<#import "../layout/landing-layout.ftl.html" as layout> 
<@layout.myLayout "Home page">

<div class="row">
    <div class="col-sm-4 col-sm-offset-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Sign up</h4>
                <p>It's free!</p>
                <form>
                    <div class="form-group">
                        <input type="text" placeholder="Full name" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="email" placeholder="E-Mail" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Password" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Confirm password" class="form-control">
                    </div>
                </form>
            </div>
            <div class="panel-footer">
                <input type="submit" value="Submit" class="btn btn-primary btn-block">
            </div>
        </div>
    </div>
</div>

</@layout.myLayout>