<#import "../layout/landing-layout.ftl.html" as layout> 
<@layout.myLayout "Home page">

<div class="row">
    <div class="col-sm-4 col-sm-offset-8">
        <div class="panel panel-default">
            <form id="form_register" method="post" action="/register">
                <div class="panel-body">
                    <h4>Sign up</h4>
                    <p>It's free!</p>
                    <div class="form-group js_username">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">http://oink.net/</span>
                            <input type="text" class="form-control" placeholder="User name" name="username" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="form-group js_fullname">
                        <input type="text" placeholder="Full name" class="form-control" name="fullname">
                    </div>
                    <div class="form-group js_email">
                        <input type="email" placeholder="E-Mail" class="form-control" name="email">
                    </div>
                    <div class="form-group js_password1">
                        <input type="password" placeholder="Password" class="form-control" name="secret">
                    </div>
                    <div class="form-group js_password2">
                        <input type="password" placeholder="Confirm password" class="form-control">
                    </div>
                    <div class="checkbox js_checkbox">
                        <label>
                            <input type="checkbox"> I accept the term and conditions
                        </label>
                    </div>
                </div>
                <div class="panel-footer">
                    <input type="submit" class="btn btn-primary btn-block js_submit" disabled="true" value="Register">
                </div>
            </form>
        </div>
    </div>
</div>

</@layout.myLayout>