<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">

<div class="panel panel-primary">
    <div class="panel-body">
        <form method="POST" action="/post/create">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="What's on your mind?" name="content">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span></button>
                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                </span>
            </div>
        </form>
    </div>
</div>

<#list posts as post>
<div class="panel panel-primary">
    <div class="panel-body">
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object img-rounded avatar-64" src="/assets/img/general/icon-profile.png">
                </a>
            </div>
            <div class="media-body">
                <h4>${post.author.full_name}</h4>
                
                <p>${post.content}</p>
                
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> ${post.timestamp}
                <#list comments as comment>
                    <#if comment.post_id == post.id>
                        <div class="media">
                            <div class="media-left media-middle">
                                <a href="#">
                                    <img class="media-object img-rounded avatar-48" src="/assets/img/general/icon-profile.png">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4>${comment.author.full_name}</h4>
                                <p>${comment.content}</p>
                            </div>
                        </div>
                    </#if>
                </#list>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <form method="POST" action="/post/comment">
            <input type="hidden" name="post" value="${post.id}">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Write a comment..." name="content">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                </span>
            </div>
        </form>
    </div>
</div>
</#list>

</@layout.myLayout>